fastapi==0.111.2
uvicorn[standard]==0.23.3
requests==2.31.0
pillow==10.0.0
pdf2image==1.16.3
moviepy==2.0.0
pydub==0.25.1
python-multipart==0.0.6
groq==0.4.0
werkzeug==3.1.2
pydantic==2.6.0
pytesseract==0.4.3
